{% extends "base.html" %}

{% block content %}

<h2>Applications</h2>

<form action="/applications/search" method="GET">

    <input
    type="text"
    name="q"
    placeholder="Search company or role..."
    value="{{ search_query or '' }}"
    >

    <button type="submit">Search</button>
</form>

{% if search_query %}
<p>Search results for: <strong>{{ search_query }}</strong></p>
{% endif %}

<p>
    <a href="/applications/new">
        + Add New Application
    </a>
</p>

<table border="1" cellpadding="8">

    <tr>
        <th>Company</th>
        <th>Role</th>
        <th>Applied Date</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>

{% if applications %}

    {% for application in applications %}

    <tr>
        <td>{{ application.company }}</td>
        <td>{{ application.role_title }}</td>
        <td>{{ application.applied_date }}</td>
        <td>
            <select class="status-dropdown" data-id="{{ application.id }}">
                <option value="Applied" {% if application.status == "Applied" %}selected{% endif %}>Applied</option>
                <option value="Screening" {% if application.status == "Screening" %}selected{% endif %}>Screening</option>
                <option value="Interviewing" {% if application.status == "Interviewing" %}selected{% endif %}>Interviewing</option>
                <option value="Offer" {% if application.status == "Offer" %}selected{% endif %}>Offer</option>
                <option value="Rejected" {% if application.status == "Rejected" %}selected{% endif %}>Rejected</option>
            </select>
        </td>
        <td>
            <form
                action="/applications/{{ application['id'] }}/delete"
                method="POST"
                onsubmit="return confirm('Are you sure you want to delet this application?');"
            >
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>

    {% endfor %}

{% else %}

<tr> 
    <td colspan="4">
        No applications found.
    </td>
</tr>

{% endif%}

</table>

<br>

<a href="/">Dashboard</a>

{% endblock %}
